# Ignore PHP Unit cache files
/.phpunit.cache

# Ignore public build assets
/public/build
/public/hot
/public/storage

# Ignore sensitive files
.env
.env.backup
.env.production

# Ignore PHPUnit result cache
/.phpunit.result.cache

# Ignore Homestead files
Homestead.json
Homestead.yaml

# Ignore authentication-related files
auth.json

# Ignore npm and yarn logs
npm-debug.log
yarn-error.log

# Ignore Fleet and IDE configuration folders
/.fleet
/.idea
/.vscode
